<% layout('layouts/boilerplate') %>
    <div class="row cent">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offser-3">
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                        <input class= "form-control" type="text" name="campground[title]" id="title" placeholder="Title" value="<%= campground.title %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                        <input class= "form-control" type="text" name="campground[location]" id="location" placeholder="Location" value="<%= campground.location %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                        <input class= "form-control" type="text" name="campground[image]" id="location" placeholder="Image URL" value="<%= campground.image %>">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" name="campground[price] placeholder="0.00" aria-label="price" aria-describedby="price-label" value="<%= campground.price %>">
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="image">Description</label>
                    <textarea class= "form-control" type="text" name="campground[description]" id="location" placeholder="Description..." <%= campground.description %>></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info btn-lgs">Update Campground</button>
                </div>
            </form>
            <footer>
                <a href="/campgrounds/<%= campground._id %>">Back to Campground </a>
            </footer>
        </div>
    </div>
    


    